version: '3.8'

services:
  backend:
    image: iluavolkov/task-backend:latest
    container_name: task-backend
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=sqlite:////app/data/tasks.db
      - CORS_ORIGINS=http://localhost:4200
      - PYTHONPATH=/app
    volumes:
      - backend-data:/app/data
    networks:
      - app-network

  frontend:
    image: iluavolkov/task-frontend:latest
    container_name: task-frontend
    ports:
      - "4200:4200"
    environment:
      - NODE_ENV=production
    networks:
      - app-network

volumes:
  backend-data:

networks:
  app-network:
    driver: bridge